html {
    height: 100%;
    width:100%;
  }
  
  #title{
    font-family: Do Hyeon, cursive;
    font-size: 100px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0%;
    left: 25%;
    /*transform: translate(-50%, -250%);*/
    text-shadow: 3px 3px 20px #ffffff;
  }
  

  @gray-darker:               #444444;
  @gray-dark:                 #696969;
  @gray:                      #999999;
  @gray-light:                #cccccc;
  @gray-lighter:              #ececec;
  @gray-lightest:             lighten(@gray-lighter,4%);
  
  *,
  *::before,
  *::after { 
    box-sizing: border-box;
  }
  body {
    color: @gray;
    font-family: Do Hyeon, cursive;
    font-weight: 400;
    letter-spacing: 0;
    padding: 3rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
  
  
  .HolyGrail {
    display: flex;
    height: 100%;
    /* 1, 3 */
    flex-direction: column;
    margin: 0px;
    padding: 0;
    background-color: rgb(255, 208, 0);
    overflow: hidden;
  }
  
  .HolyGrail-body {
    color: black;
    display: flex;
    flex: 1 0 auto;
    /* 2 */
    flex-direction: column;
  }
  
  .HolyGrail-nav {
    order: -1;
  }
  
  .HolyGrail-nav,
  .HolyGrail-ads {
    font-size: 130%;
    color: white;
    padding: 1em;
    background-color: #211;

  }
  
  @media (min-width: 786px) {
    .HolyGrail-body {
      flex-direction: row;
    }
    .HolyGrail-content {
      flex: 1;
      margin: 0;
    }
    .HolyGrail-nav,
    .HolyGrail-ads {
      flex: 0 0 17%;
    }
  }

  .header-area {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    width: 320px;
    max-width: 320px;
    padding: 40px 35px;
    }

    .header-area {
        height: 100%;
        width: 17%;
        position: fixed;
        margin-top: 6%;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #211;
        overflow-x: hidden;
        padding-top: 100px;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
        width: 280px;
        max-width: 280px;
        padding: 50px; } }
    @media only screen and (max-width: 767px) {
    .header-area {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 320px;
        flex: 0 0 320px;
        width: 320px;
        max-width: 320px;
        position: fixed;
        z-index: 4000;
        top: 0;
        left: -350px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        display: block; } }
    .header-area{
      left: 0; }
    .header-area .nav-close {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 15px;
      background-color: red;
      text-align: center;
      color: #fff;
      line-height: 40px;
      font-size: 12px;
      cursor: pointer;
      background-color: #fbb710;
      display: none; }

    @media only screen and (max-width: 767px) {
    .header-area .nav-close {
          display: block; } }
    .header-area .nav-close:hover {
        background-color: #131212; }
    .header-area {
      margin-bottom: 100px;
      display: block; }

    .header-area .amado-nav li a {
      font-size: 24px;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      padding: 40px 0;
      display: block;
      line-height: 0.9;
      color: #ffffff;
      font-weight: normal; }

    .header-area .amado-nav li a::after {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        margin-top: -1.5px;
        left: -150px;
        background-color: #ca0f6c;
        z-index: 10;
        content: ''; }

    .header-area .amado-nav li a:hover, .header-area .amado-nav li a:focus {
        color: #ca0f6c; }

    .header-area .amado-nav li:hover a::after, .header-area .amado-nav li:focus a::after {
      left: -75px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .amado-nav li:hover a::after, .header-area .amado-nav li:focus a::after {
          left: -50px; } }

    .header-area .amado-nav li.active a::after {
      left: -75px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .amado-nav li.active a::after {
          left: -50px; } }

    .header-area .amado-btn-group .amado-btn {
      width: 160px;
      display: block; }
